# Passwords
.env
database.json

# Media (should be auto generated or uploaded by user)
*.mp4
*.m4v
*.bmp
*.dib
*.gif
*.tiff
*.heic
*.png
*.jpg
*.jpeg
*.jpe
*.jfif
*.svg

# All uploads
uploads/*
!uploads/.gitkeep

# Generated stuff
__pycache__/
.vscode/
node_modules/
require.js