/* Some stuff is applied to the body */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* Helpful CSS tools: */
button { user-select: none; }
.pointer { cursor: pointer; }
.pointer:hover { text-decoration: underline; }
.center { text-align: center; }
.error { color: red; font-weight: bold; }
input.error { border-color: rgb(255, 0, 0) !important; }
.hint { font-style: italic; margin: 0; color: gray; }
.goback { margin: 0; padding: 0; width: 25%; }
.left { float:left !important; }
.right { float: right !important;}

/* Home tab */
.home {
    width: 100%;
    height: 100%;
    background-color: rgb(162, 255, 255);
    user-select: none;
}
.home .logo {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.home .logo h1 {
    font-size: 50px;
    text-shadow: rgb(102, 147, 158) 2px 2px 10px;
}
.home .logo svg {
    width: 100px;
    height: 100px;
}

/* Account Tab */
.account {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;
    overflow: auto;
}
.signin,
.register,
.verify {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 50px 10px;
    background-color: white;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(187, 218, 223);
    width: 50%;
    max-width: 500px;
    font-size: large;
    font-weight: 400;
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.form {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

.form input,
.project .video .confirm .name input {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(216, 216, 216);
    border-style: solid;
    border-width: 3px;
    outline: none;
    overflow: hidden;
    font-size: large;
}
.form input:hover,
.project .video .confirm .name input:hover {
    border-color: rgb(238, 238, 238);
}
.form input:focus,
.project .video .confirm .name input:focus {
    border-color: rgb(124, 160, 41);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form .big-button {
    box-sizing: border-box;
    margin: 30px auto 30px auto;
    display: block;
    width: 50%;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: rgb(52, 98, 199);
    font-size: large;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form .big-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form .big-button:active {
    transform: translateY(4px);
}

/* Bottom class is for special stacking at the end of a form */
.bottom:after {
    content: "";
    display: table;
    clear: both;
}
.bottom p {
    float: left;
    width: 49%;
}
@media screen and (max-width: 700px) {
    .bottom p {
      width: 100%;
    }
}

/* Project Tab */
.project {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: forestgreen linear-gradient(0deg, darkolivegreen, forestgreen, darkseagreen) fixed;
    overflow: auto;
}
.project .card {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(119, 153, 119);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    max-width: 500px;
    min-height: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.project .type-tab {
    width: 100%;
    white-space: nowrap;
}
.project .type-tab button {
    white-space: normal;
    width: 50%;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    cursor: pointer;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.project .type-tab button.selected {
    width: 50%;
    cursor: auto;
    border: solid 2px lightgray;
    border-bottom: none;
}
.project .type-tab button:hover {
    background-color: rgb(245, 245, 245);
}
.project .type-tab button.selected:hover {
    background-color: white;
}

.project .video .upload {
    min-height: 100px;
}

.project .video .upload button {
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 80%;
    padding: 20px;
    min-height: 50px;
    font-size: xx-large;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
    background: rgb(22, 145, 22) radial-gradient(#85c79e, #169116);
    border: solid 5px rgb(46, 90, 46);
}

.project .video .confirm .dialogue {
    margin-top: 30px;
    border: thin rgb(88, 88, 88) solid;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.project .video .confirm .name {
    margin-bottom: 20px;
}

.project .video .confirm .start {
    box-sizing: border-box;
    margin: 30px auto 30px auto;
    display: block;
    width: 50%;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: rgb(52, 98, 199);
    
    font-size: large;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.project .video .confirm .start:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project .video .confirm .start:active {
    transform: translateY(4px);
}

.calculator {
    /* padding: 0;
    margin: 0; */
    /* width: 50%;
    height: 50%; */
    /* top: 0;
    bottom: 0; */
    /* width: 80px;
    height: 500px; */
    /* width: 100%; */
    /* width: ; */
    height: 500px;
}
/* .useFile {
    width: 100px;
    height: 50px;
} */




/* Community/MyProjects Tab */
.community, 
.myprojects {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:palegoldenrod;
}
.community .content,
.myprojects .content {
    padding: 50px;
    padding-top: 0px;
}
ul.nav {
    background-color:rgb(94, 92, 66);
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}
ul.nav li {
    float: left;
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;
    text-align: center;
    border-radius: 30px;
}
ul.nav li:hover {
    background-color: rgb(128, 125, 90);
    cursor: pointer;
}
ul.nav li.title {
    font-size: xx-large;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin: 0px;
}
ul.nav li.title:hover {
    background-color: transparent;
    cursor: default;
}


/* MyProjects */
.myprojects .content button {
    /* border-radius: 20px; */
    width: 70px;
    height: 35px;
    box-sizing: border-box;
    /* margin: 30px auto 30px auto; */
    display: inline;
    /* float: right; */
    /* width: 50%; */
    /* height: 50px; */
    border-radius: 50px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: rgb(52, 98, 199);
    font-size: large;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.myprojects .content button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.myprojects .content button:active {
    transform: translateY(4px);
}
.myprojects .content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* display: inline; */
}
.myprojects .content li {
    /* display: inline; */
    /* width: 33%; */
}